/* Estilos generales */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el formulario de login */
form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2d4373;
}

/* Estilos para los mensajes de error */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Estilos para centrar el formulario */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

